.wrapper {
  display: flex;
  min-height: 100vh;
  background-image: url("/images/map.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  @media (prefers-color-scheme: dark) {
    background-image: url("/images/map-dark.jpg");
  }
}

.hello {
  padding: toRem(16);
  background: rgba(white, 0.8);
  border-radius: toRem(20);
}
